@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  font-size: 16px;
  line-height: 140%;
  font-family: "Fira Sans", sans-serif;
  color: $text;
  background: $bg;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
}

.posts {
  margin-top: 120px;
}

.posts__wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
