@import "styles/vars";

.footer {
  margin-top: auto;
  background: $white;
  padding: 24px 0;
}

.wrap {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 700;
  line-height: 1;
  font-size: 30px;
}

.nav {
  display: flex;
  align-items: center;
  margin-left: 90px;
  gap: 30px;
}

.nav__link {
  font-size: 18px;
}
